<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../../../../styles/adminStyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
  <custom-navbar></custom-navbar>
  <custom-sidebar></custom-sidebar>
  <div class="content">
    <div class="profile-container">
      <div class="profile-header">
        <h1>My Profile</h1>
        <a href="index.html">
          <button><i class="fa-solid fa-arrow-left"></i> Kembali</button>
        </a>
      </div>
      <div class="profile">
        <div class="profile-details">
          <div class="profile-section">
            <div>
              <span>Nama lengkap</span>
              <strong id="namaLengkap"></strong>
            </div>
            <div>
              <span>Email</span>
              <strong id="email"></strong>
            </div>
            <div>
              <span>Password</span>
              <strong id="password">***********</strong> <i id="togglePassword" class="fa-solid fa-eye" style="cursor: pointer;"></i>
            </div>
          </div>
          <div class="profile-section">
            <div>
              <span>Jenis kelamin</span>
              <strong id="jenisKelamin"></strong>
            </div>
            <div>
              <span>No Hp</span>
              <strong id="noHp"></strong>
            </div>
          </div>
        </div>
        <div class="edit-button">
          <a href="editProfileAdmin.html">
            <button><i class="fa-regular fa-pen-to-square"></i> Edit</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <custom-footer></custom-footer>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="module" src="../../appAdmin.js"></script>
  <script src="../profileScript.js"></script>
</body>
</html>
