<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Admin</title>
    <link rel="stylesheet" href="../../../styles/loginAdmin-style.css" />
  </head>
  <body>
    <div class="container">
      <div class="image-section"></div>
      <div class="form-section">
        <div class="logo">
            <img src="../../../public/images/heros/logo-one.png" alt="">
        </div>
        <h2>Masuk ke akun Anda</h2>
        <p>selamat datang kembali!</p>
        <form action="#">
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button type="submit">Masuk</button>
        </form>
        <div class="form-text">Tidak punya akun? <a href="registerAdmin.html" class="create-account">Buat akun</a></div>
      </div>
    </div>
  </body>
</html>
